.cruz1 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.cruz2 {
  position: absolute;
  top: 0;
  right: 0;
}

.content-dialog {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;

  h3 {
    color: #01387b;
    text-align: left;
    margin: 1rem 4rem;
    font-style: italic;
  }

  .text {
    margin-bottom: 80px;
    text-align: center; /* Centra el texto horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido verticalmente */
    h3 {
      color: #01387b;
    }
  }

  .boton {
    width: 135px;
    height: 50px;
    background: #008467;
    border-radius: 30.5px;
    color: #fff;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

#title-incidencia {
  text-align: left;
  display: flex;
  justify-content: left;
  color: #01387b;
  font-weight: bold;
  font-size: 22px;
}
