<div class="content-dialog">
  <!-- <img src="assets/svg/fondo-cruz-1.svg" class="cruz1" alt="" />
  <img src="assets/svg/fondo-cruz-2.svg" class="cruz2" alt="" /> -->
  <div class="content-dialog">
    <img src="assets/svg/pop-observado.svg" alt="" />
    <h3>Atención {{data.estado_siniestro}}</h3>
    <div class="text">
      <h3><b>Fecha:&nbsp;</b>{{data.inicio_siniestro}}</h3>
      <h3><b>Motivo:&nbsp;</b>{{data.motivo}}</h3>
    </div>
    <button mat-flat-button class="boton" (click)="close()">Aceptar</button>
</div>
</div>
