<div class="main">


  <div class="main-table">

    <div class="table-head">
      <div class="paginador">
        <h4>Mostrar</h4>
        <select class="select-pag" [(ngModel)]="group">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="75">75</option>
          <option value="100">100</option>
        </select>
        <p>Registros</p>
      </div>
      <div class="space"></div>

      <!-- <div class="filtro">
        <button mat-flat-button class="btn_upload_green">
          Cargar todos los archivos
          <img
            src="../../../../../../assets/svg/icon_upload_white.svg"
            alt=""
          />
        </button>
      </div> -->
    </div>

    <div class="table-body">
      <table>
        <tr class="table-body-head">

          <td >
            <h4>Especialidad</h4>
          </td>
          <td >
            <h4>Nombre</h4>
          </td>
          <td >
            <h4>Fecha</h4>
          </td>
          <td >
            <h4>Horario Mañana</h4>
          </td>
          <td >
            <h4>Horario Tarde</h4>
          </td>
        </tr>
        <tr
          class="table-body-row"
          *ngFor="
            let item of sortInfoData
              | paginate : { itemsPerPage: group, currentPage: page }
          "
        >
          <td
            class="{{ item.facturaStatus === 2 ? 'td_blue_title' : '' }}"
            style="text-align: center"
          >
            {{ item.Especialidad }}
          </td>
          <td
            class="{{ item.facturaStatus === 2 ? 'td_blue_title' : '' }}"
            style="text-align: center"
          >
            {{ item.Nombres | titlecase }}
          </td>
          <td
            class="{{ item.facturaStatus === 2 ? 'td_blue_title' : '' }}"
            style="text-align: center"
          >
            {{ item.fecha | titlecase }}
          </td>
          <td
            class="{{ item.facturaStatus === 2 ? 'td_blue_title' : '' }}"
            style="text-align: center"
          >
            <div style="display: flex; justify-content: center;align-items: center;">
              <div *ngFor="let hora of item.horarios; let x = index" style="display: flex;flex-direction: column; justify-content: center; align-items: center;">

                <div  *ngIf="hora.turno == 'Mañana'"[className]="hora.estado == 1?'ocupado':'libre'"  [matTooltip]="hora.estado == 1?'ocupado':'libre'"  matTooltipPosition="left">
                 {{ hora.hora }}
                </div>




             </div>
            </div>


          </td>
          <td
          class="{{ item.facturaStatus === 2 ? 'td_blue_title' : '' }}"
          style="text-align: center"
        >
          <div style="display: flex; justify-content: center;align-items: center;">
            <div *ngFor="let hora of item.horarios; let x = index" style="display: flex;flex-direction: column; justify-content: center; align-items: center;">

              <div  *ngIf="hora.turno == 'Tarde'"[className]="hora.estado == 1?'ocupado':'libre'"  [matTooltip]="hora.estado == 1?'ocupado':'libre'"  matTooltipPosition="left">
               {{ hora.hora }}
              </div>




           </div>
          </div>


        </td>
        </tr>
      </table>
    </div>


    <div class="table-foot">
      <h4>
        Del
        {{ ((page > 1 ? page : 1) - 1) * group + 1 }} al
        {{
          ((page > 1 ? page : 1) - 1) * group + group > p.getTotalItems()
            ? p.getTotalItems()
            : (((page > 1 ? page : 1) - 1) * group + group | number : "2.0")
        }}
        de {{ p.getTotalItems() }} registros
        {{ filterTable != "" ? "(filtrados de " + size + " registros)" : "" }}
      </h4>
      <div class="foot-botones">
        <pagination-template #p="paginationApi" (pageChange)="page = $event">
          <div class="custom-pagination">
            <button
              mat-mini-fab
              (click)="p.previous()"
              disabled="{{ p.isFirstPage() }}"
              class="foot-boton {{ p.isFirstPage() ? 'blanco' : '' }} "
            >
              <mat-icon>arrow_back</mat-icon>
            </button>
            <div
              class="page-number"
              *ngFor="let page of p.pages"
              [class.current]="p.getCurrent() === page.value"
            >
              <span
                (click)="p.setCurrent(page.value)"
                *ngIf="p.getCurrent() !== page.value"
                >{{ page.label }}</span
              >
              <div *ngIf="p.getCurrent() === page.value">
                <span>{{ page.label }}</span>
              </div>
            </div>
            <button
              mat-mini-fab
              (click)="p.next()"
              disabled="{{ p.isLastPage() }}"
              class="foot-boton {{ p.isLastPage() ? 'blanco' : '' }} "
            >
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </pagination-template>
      </div>
    </div>

  </div>
</div>
