<div class="header">
  <div class="title">
    <!-- <p>Home /</p>
    <p *ngFor="let data of breadcrumbsUrl; let i = index">
      <span *ngIf="i < breadcrumbsUrl.length - 1">
        {{ data | titlecase }}
      </span>
      <span class="text-0" *ngIf="i < breadcrumbsUrl.length - 1">/</span>
      <span class="text-1" *ngIf="i == breadcrumbsUrl.length - 1">
        {{ data | titlecase }}
      </span>
    </p> -->
    <p class="text-0">Lorem</p> <p class="slash">/</p> <p class="text-1">Ipsum Ventas</p>
  </div>
  <div class="info" >
    <div class="nombre">
      <h4 class="nameClinica">PVigil</h4>
      <p>Bienvenido</p>
    </div>
    <div class="foto" [matMenuTriggerFor]="menu">
      <img  src="/assets/img/chinitasonriendo2.jpeg" alt="" />
      <!-- <img src="/assets/svg/Oval.svg" alt=""> -->
    </div>
    <div class="i" [matMenuTriggerFor]="menu">
      <img src="/assets/svg/drawer/arrow_down.svg" alt="arrow_down" />
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <!-- <p mat-menu-item [routerLink]="['perfil']">Ver Perfil</p> -->
  <p mat-menu-item (click)="logout()">Regresar al holding</p>
</mat-menu>
